<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fun.crawl.mapper.SysLogMapper">

<!-- 通用查询映射结果 -->
<resultMap id="BaseResultMap" type="com.fun.crawl.model.SysLog">
    <id column="id" property="id"/>
        <result column="type" property="type"/>
      <result column="status" property="status"/>
      <result column="module_name" property="moduleName"/>
      <result column="action_name" property="actionName"/>
      <result column="service_id" property="serviceId"/>
      <result column="remote_addr" property="remoteAddr"/>
      <result column="user_agent" property="userAgent"/>
      <result column="request_uri" property="requestUri"/>
      <result column="method" property="method"/>
      <result column="params" property="params"/>
      <result column="time" property="time"/>
      <result column="exception" property="exception"/>
      <result column="del_flag" property="delFlag"/>
      <result column="create_by" property="createBy"/>
      <result column="create_time" property="createTime"/>
      <result column="update_time" property="updateTime"/>
  </resultMap>

<!-- 通用查询结果列 -->
<sql id="Base_Column_List">
       id, type, status, module_name, action_name, service_id, remote_addr, user_agent, request_uri, method, params, time, exception, del_flag, create_by, create_time, update_time
</sql>
<select id="pageByQuery" resultMap="BaseResultMap">
    select * from sys_log
    <where >
        <if test="id != '' and id != null" >
            and id = #{id}
        </if>
        <if test="type != '' and type != null">
            and  type = #{type}
        </if>
        <if test="moduleName != '' and moduleName != null">
            and   module_name  like concat('%',#{moduleName},'%')
        </if>
        <if test="createBy != '' and createBy != null">
            and   create_by  like concat('%',#{createBy},'%')
        </if>
        <if test="status != '' and status != null">
            and  status = #{status}
        </if>
    </where>
</select>


</mapper>
